<div class="col-md-8">
<h1>分類列表</h1>

<ol class="breadcrumb">
  <li><%= link_to '後台管理系統', backend_dashboard_path%></li>
  <li class="active">分類列表</li>
</ol>


<table class='table'>
	
	<tr>
		<th>編號</th>
		<th>分類</th>
		<th></th><th></th>
	</tr>
	
	<% @allcategories.each do |category|%>
	<tr>
		<th><%= category.id%></th>
		<th><%= category.name%></th>
		<th>
		<%= edit_button(edit_backend_category_path(category))%>
		<%= delete_button(backend_category_path(category))%>
		</th>
	</tr>
	<% end %>
	
</table>

<%= link_to '新增分類', new_backend_category_path, class:'btn btn-success' %>

</div>